@import "../../../assets/styles/palette"

.error-container
  position: absolute
  justify-content: center
  align-items: center
  color: #393838
  text-align: center
  margin-top: 20%
  font-family: sans-serif
.cover
  text-align: center
